/*Device Breakpoints*/
/*Media Query mixin*/
/*Page Background mixin*/
/*Retina display*/
@media screen and (min-width: 320px) {
  body {
    padding-top: 50px;
    background-color: white;
    font-family: 'Helvetica', sans-serif;
    color: white;
  }
  #image-cropper {
    width: 260px;
    height: 260px;
  }
  #imageMe {
    margin-top: 8%;
    height: 260px;
    width: 260px;
    border-radius: 50%;
  }
  .about-me-text {
    background-color: black;
    opacity: 0.7;
    padding-right: 2%;
    margin-top: 10%;
  }
  .center-block {
    background-color: black;
    opacity: 0.7;
    margin-top: 12%;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%;
  }
  .center-block:hover {
    -webkit-box-shadow: 1px 1px 45px 10px #b3ddbc;
            box-shadow: 1px 1px 45px 10px #b3ddbc;
  }
  .portfolio-img {
    width: 100%;
    margin: auto;
    padding: 10px;
    height: auto;
  }
}

/*Smartphones */
@media screen and (min-width: 480px) {
  body {
    padding: 0;
  }
  #imageMe {
    margin-left: 30%;
  }
}

/*Small - Tablets 768px*/
@media screen and (min-width: 768px) {
  .navbar {
    text-align: center;
    margin-bottom: -5%;
  }
  .navbar-brand {
    margin-right: 20px;
    padding-top: 10px;
  }
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
  #imageMe {
    margin-left: 90%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
}

/*Desktop*/
@media screen and (min-width: 992px) {
  #imageMe {
    margin-left: 15%;
    margin-top: 15%;
  }
  .about-me-text {
    margin-left: 20%;
  }
}

/*Wide Screen*/
@media screen and (min-width: 1200px) {
  #imageMe {
    margin-left: 30%;
    margin-top: 30%;
  }
}

.navbar-right {
  margin-right: 10px;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 4em;
}

@media screen and (min-width: 320px) {
  #pageOne {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://res.cloudinary.com/dh9jhi3qp/image/upload/v1498588595/photo-1491484815100-6f2890d04007_isb64m.png");
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/
  }
}

#pageOne .btn-default {
  background-color: black;
  font-size: 1.5em;
  color: white;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

@media screen and (min-width: 768px) {
  #pageOne {
    height: 100vh;
  }
}

/*About section*/
@media screen and (min-width: 320px) {
  #pageTwo {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://images.unsplash.com/photo-1485609315582-cfffa02888e8?dpr=1&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=&bg=");
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/
  }
}

/*Portfolio section*/
#pageThree {
  height: auto;
}

@media screen and (min-width: 320px) {
  #pageThree {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://res.cloudinary.com/dh9jhi3qp/image/upload/c_scale,h_2376,w_4225/v1500612757/pexels-photo-492248_nrz8ed.jpg");
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/
  }
}

/*Contact Section*/
@media screen and (min-width: 320px) {
  #pageFour {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://images.unsplash.com/photo-1495141929506-f34c93658f5d?dpr=1&auto=format&fit=crop&w=1080&h=1620&q=80&cs=tinysrgb&crop=&bg=");
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/
  }
}

#skillset {
  color: black;
}

/* Social Media Icon Styling */
#facebookIcon {
  color: #3b59a3;
}

#githubIcon {
  color: #4078c0;
}

#linkedinIcon {
  color: #0077b5;
}

/*transform*/
.grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-overlay.bottom {
  top: 100%;
}

/*bottom to top*/
.item:hover .item-overlay.bottom {
  top: 0;
}

.navbar-fixed-top {
  position: fixed;
}

.text-overlay {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi8qRGV2aWNlIEJyZWFrcG9pbnRzKi9cclxuJGJyZWFrcG9pbnRzOiAoXHJcbiAgcmV0aW5hICAgICAgICA6IDMyMHB4LCAvKmN1c3RvbSBpcGhvbmUgcmV0aW5hICovXHJcbiAgZXh0cmEtc21hbGwgICA6IDQ4MHB4LCAvKnBob25lcyovXHJcbiAgc21hbGwgICAgICAgICA6IDc2OHB4LCAvKnRhYmxldHMqL1xyXG4gIG1lZGl1bSAgICAgICAgOiA5OTJweCwgLypkZXNrdG9wKi9cclxuICBsYXJnZSAgICAgICAgIDogMTIwMHB4IC8qd2lkZS1zY3JlZW4qL1xyXG4pO1xyXG5cclxuLypNZWRpYSBRdWVyeSBtaXhpbiovXHJcbkBtaXhpbiBtcSgkbXEtYnJlYWtwb2ludCwgJG1xLWJyZWFrcG9pbnRzOiAkYnJlYWtwb2ludHMpIHtcclxuXHJcbiAgQGlmIG1hcC1oYXMta2V5KCRtcS1icmVha3BvaW50cywgJG1xLWJyZWFrcG9pbnQpIHtcclxuICAgICRtcS1icmVha3BvaW50OiBtYXAtZ2V0KCRtcS1icmVha3BvaW50cywgJG1xLWJyZWFrcG9pbnQpO1xyXG4gIH1cclxuICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAjeyRtcS1icmVha3BvaW50fSkge1xyXG4gICAgQGNvbnRlbnQ7XHJcbiAgfVxyXG59XHJcblxyXG5cclxuLypQYWdlIEJhY2tncm91bmQgbWl4aW4qL1xyXG5AbWl4aW4gcGFnZS1iYWNrZ3JvdW5kKCR1cmwpe1xyXG4gIEBpbmNsdWRlIG1xKHJldGluYSl7XHJcbiAgICBiYWNrZ3JvdW5kLXNpemU6MTAwJSAxMDAlO1xyXG4gICAgbWluLWhlaWdodDo2MDBweDtcclxuICAgIG1pbi13aWR0aDozMjBweDtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgkdXJsKTtcclxuICAgIG1heC13aWR0aDoxMDAlO1xyXG4gICAgLXdlYmtpdC1iYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xyXG4gICAgLW1vei1iYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xyXG4gICAgLW8tYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICAgIGJhY2tncm91bmQtc2l6ZTpjb3ZlcjtcclxuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XHJcbiAgICAvKmJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciBjZW50ZXI7Ki9cclxuICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XHJcbiAgICBwYWRkaW5nLWJvdHRvbToxMCU7XHJcbiAgICBwYWRkaW5nLXRvcDo1JTtcclxuICAgIC8qdmVydGljYWwtYWxpZ246bWlkZGxlOyovXHJcbiAgfVxyXG5cclxuICBcclxufVxyXG5cclxuLypSZXRpbmEgZGlzcGxheSovXHJcbkBpbmNsdWRlIG1xKHJldGluYSl7XHJcbiAgYm9keXtcclxuICAgIHBhZGRpbmctdG9wOjUwcHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOndoaXRlO1xyXG4gICAgZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2EnLCBzYW5zLXNlcmlmO1xyXG4gICAgY29sb3I6d2hpdGU7XHJcbiAgfVxyXG4gIFxyXG4gICNpbWFnZS1jcm9wcGVye1xyXG4gICAgd2lkdGg6MjYwcHg7XHJcbiAgICBoZWlnaHQ6MjYwcHg7XHJcbiAgfVxyXG5cclxuICAjaW1hZ2VNZXtcclxuICAgIG1hcmdpbi10b3A6OCU7XHJcbiAgICBoZWlnaHQ6MjYwcHg7XHJcbiAgICB3aWR0aDoyNjBweDtcclxuICAgIGJvcmRlci1yYWRpdXM6NTAlO1xyXG4gIH1cclxuICAgXHJcbiAgLmFib3V0LW1lLXRleHR7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjpibGFjaztcclxuICBvcGFjaXR5OjAuNztcclxuICBwYWRkaW5nLXJpZ2h0OjIlO1xyXG4gIG1hcmdpbi10b3A6MTAlO1xyXG4gICAgfVxyXG5cclxuICAuY2VudGVyLWJsb2Nre1xyXG4gIGJhY2tncm91bmQtY29sb3I6YmxhY2s7XHJcbiAgb3BhY2l0eTowLjc7XHJcbiAgbWFyZ2luLXRvcDoxMiU7XHJcbiAgcGFkZGluZzoxMnB4O1xyXG4gIGJvcmRlci1yYWRpdXM6NXB4O1xyXG4gIG1hcmdpbi1ib3R0b206MTBweDtcclxuICB3aWR0aDo5NSU7XHJcbiAgJjpob3ZlcntcclxuICAgIGJveC1zaGFkb3c6IDFweCAxcHggNDVweCAxMHB4ICNiM2RkYmM7XHJcbiAgICB9ICBcclxuICB9XHJcbiAgXHJcbiAgLnBvcnRmb2xpby1pbWd7XHJcbiAgd2lkdGg6MTAwJTtcclxuICBtYXJnaW46YXV0bztcclxuICBwYWRkaW5nOjEwcHg7XHJcbiAgaGVpZ2h0OmF1dG87XHJcbiAgfVxyXG4gIFxyXG59XHJcblxyXG4vKlNtYXJ0cGhvbmVzICovXHJcbkBpbmNsdWRlIG1xKGV4dHJhLXNtYWxsKXtcclxuICBib2R5e1xyXG4gICAgcGFkZGluZzowO1xyXG4gIH1cclxuXHJcbiAgI2ltYWdlTWV7XHJcbiAgICBtYXJnaW4tbGVmdDozMCU7XHJcbiAgfVxyXG59XHJcblxyXG5cclxuLypTbWFsbCAtIFRhYmxldHMgNzY4cHgqL1xyXG5AaW5jbHVkZSBtcShzbWFsbCl7XHJcbiAgICAubmF2YmFye1xyXG4gICAgICB0ZXh0LWFsaWduOmNlbnRlcjsgICAgICBcclxuICAgICAgbWFyZ2luLWJvdHRvbTotNSU7XHJcbiAgICB9XHJcbiAgICAubmF2YmFyLWJyYW5ke1xyXG4gICAgICAvLyNmbG9hdDpub25lO1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6MjBweDtcclxuICAgICAgcGFkZGluZy10b3A6MTBweDtcclxuICAgIH1cclxuIFxyXG4gICAgLm5hdmJhci1maXhlZC10b3Age1xyXG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgICB0b3A6IGF1dG87XHJcbiAgICB9XHJcblxyXG4gICAgI2ltYWdlTWV7XHJcbiAgICBtYXJnaW4tbGVmdDogOTAlO1xyXG4gICAgaGVpZ2h0OjMwMHB4O1xyXG4gICAgd2lkdGg6MzAwcHg7XHJcbiAgICBib3JkZXItcmFkaXVzOjUwJTtcclxuICB9XHJcbiAgICBcclxufVxyXG5cclxuLypEZXNrdG9wKi9cclxuQGluY2x1ZGUgbXEobWVkaXVtKXtcclxuICAjaW1hZ2VNZXtcclxuICAgIG1hcmdpbi1sZWZ0OjE1JTsgIFxyXG4gICAgbWFyZ2luLXRvcDoxNSU7XHJcbiAgfVxyXG4gIC5hYm91dC1tZS10ZXh0e1xyXG4gICAgbWFyZ2luLWxlZnQ6MjAlO1xyXG4gIH1cclxufVxyXG5cclxuLypXaWRlIFNjcmVlbiovXHJcbkBpbmNsdWRlIG1xKGxhcmdlKXtcclxuICAjaW1hZ2VNZXtcclxuICAgIG1hcmdpbi1sZWZ0OjMwJTsgIFxyXG4gICAgbWFyZ2luLXRvcDozMCU7XHJcbiAgfVxyXG59XHJcblxyXG4ubmF2YmFyLXJpZ2h0e1xyXG4gIG1hcmdpbi1yaWdodDoxMHB4O1xyXG59XHJcblxyXG5oMXtcclxuICBmb250LWZhbWlseTogJ0xvYnN0ZXInLCBzYW5zLXNlcmlmO1xyXG4gIGZvbnQtc2l6ZTogNGVtO1xyXG59XHJcblxyXG5cclxuI3BhZ2VPbmV7XHJcbiBAaW5jbHVkZSBwYWdlLWJhY2tncm91bmQoXCJodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9kaDlqaGkzcXAvaW1hZ2UvdXBsb2FkL3YxNDk4NTg4NTk1L3Bob3RvLTE0OTE0ODQ4MTUxMDAtNmYyODkwZDA0MDA3X2lzYjY0bS5wbmdcIik7IFxyXG4gICAgLmJ0bi1kZWZhdWx0eyAgIFxyXG4gICAgYmFja2dyb3VuZC1jb2xvcjpibGFjaztcclxuICAgIGZvbnQtc2l6ZTogMS41ZW07XHJcbiAgICBjb2xvcjp3aGl0ZTtcclxuICAgIG9wYWNpdHk6MC42O1xyXG4gICAgZmlsdGVyOiBhbHBoYShvcGFjaXR5PTYwKTsgLyogRm9yIElFOCBhbmQgZWFybGllciAqL1xyXG4gIH1cclxuICBAaW5jbHVkZSBtcShzbWFsbCl7aGVpZ2h0OjEwMHZoOyBcclxuICB9XHJcbn1cclxuXHJcblxyXG4vKkFib3V0IHNlY3Rpb24qL1xyXG4jcGFnZVR3b3tcclxuQGluY2x1ZGUgcGFnZS1iYWNrZ3JvdW5kKFwiaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bob3RvLTE0ODU2MDkzMTU1ODItY2ZmZmEwMjg4OGU4P2Rwcj0xJmF1dG89Zm9ybWF0JmZpdD1jcm9wJnc9MTA4MCZoPTcyMCZxPTgwJmNzPXRpbnlzcmdiJmNyb3A9JmJnPVwiKTtcclxufVxyXG5cclxuLypQb3J0Zm9saW8gc2VjdGlvbiovXHJcbiNwYWdlVGhyZWV7XHJcbiAgQGluY2x1ZGUgcGFnZS1iYWNrZ3JvdW5kKFwiaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20vZGg5amhpM3FwL2ltYWdlL3VwbG9hZC9jX3NjYWxlLGhfMjM3Nix3XzQyMjUvdjE1MDA2MTI3NTcvcGV4ZWxzLXBob3RvLTQ5MjI0OF9ucno4ZWQuanBnXCIpO1xyXG4gIGhlaWdodDphdXRvO1xyXG59XHJcblxyXG4vKkNvbnRhY3QgU2VjdGlvbiovXHJcbiNwYWdlRm91cnsgIFxyXG5AaW5jbHVkZSBwYWdlLWJhY2tncm91bmQoXCJodHRwczovL2ltYWdlcy51bnNwbGFzaC5jb20vcGhvdG8tMTQ5NTE0MTkyOTUwNi1mMzRjOTM2NThmNWQ/ZHByPTEmYXV0bz1mb3JtYXQmZml0PWNyb3Amdz0xMDgwJmg9MTYyMCZxPTgwJmNzPXRpbnlzcmdiJmNyb3A9JmJnPVwiKVxyXG5cclxufVxyXG5cclxuI3NraWxsc2V0e1xyXG4gIGNvbG9yOmJsYWNrO1xyXG59XHJcblxyXG4vKiBTb2NpYWwgTWVkaWEgSWNvbiBTdHlsaW5nICovXHJcbiNmYWNlYm9va0ljb257XHJcbiAgY29sb3I6cmdiKDU5LDg5LDE2Myk7XHJcbn1cclxuXHJcbiNnaXRodWJJY29ue1xyXG4gIGNvbG9yOnJnYig2NCwxMjAsMTkyKTtcclxufVxyXG5cclxuI2xpbmtlZGluSWNvbntcclxuICBjb2xvcjojMDA3N2I1O1xyXG59XHJcblxyXG5cclxuXHJcbi8qdHJhbnNmb3JtKi9cclxuLmdyb3c6aG92ZXIge1xyXG4gIHRyYW5zZm9ybTogc2NhbGUoMS4xKTtcclxufVxyXG5cclxuXHJcbi5pdGVtLW92ZXJsYXkge1xyXG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICB0b3A6IDA7IHJpZ2h0OiAwOyBib3R0b206IDA7IGxlZnQ6IDA7XHJcbiAgYmFja2dyb3VuZDogcmdiYSgwLDAsMCwwLjUpO1xyXG4gIGNvbG9yOiAjZmZmO1xyXG4gIG92ZXJmbG93OiBoaWRkZW47XHJcbiAgd2lkdGg6MTAwJTtcclxuICB0cmFuc2l0aW9uOiAwLjVzIGVhc2U7XHJcbn1cclxuXHJcbi5pdGVtLW92ZXJsYXkuYm90dG9tIHtcclxuICB0b3A6IDEwMCU7XHJcbn0gXHJcblxyXG4vKmJvdHRvbSB0byB0b3AqL1xyXG4uaXRlbTpob3ZlciAuaXRlbS1vdmVybGF5LmJvdHRvbSB7XHJcbiAgdG9wOiAwO1xyXG59XHJcblxyXG4ubmF2YmFyLWZpeGVkLXRvcFxyXG57XHJcbiAgcG9zaXRpb246IGZpeGVkO1xyXG5cclxufVxyXG5cclxuLnRleHQtb3ZlcmxheXtcclxuICB0b3A6NTAlO1xyXG4gIHRyYW5zZm9ybTp0cmFuc2xhdGVZKC01MCUpO1xyXG4gIHBvc2l0aW9uOnJlbGF0aXZlO1xyXG59XHJcbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxzQkFBc0I7QUFTdEIscUJBQXFCO0FBWXJCLHlCQUF5QjtBQXVCekIsa0JBQWtCO0FBN0JoQixNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxLQUFLO0VBK0JuQyxBQUFBLElBQUksQ0FBQTtJQUNGLFdBQVcsRUFBQyxJQUFJO0lBQ2hCLGdCQUFnQixFQUFDLEtBQUs7SUFDdEIsV0FBVyxFQUFFLHVCQUF1QjtJQUNwQyxLQUFLLEVBQUMsS0FBSztHQUNaO0VBRUQsQUFBQSxjQUFjLENBQUE7SUFDWixLQUFLLEVBQUMsS0FBSztJQUNYLE1BQU0sRUFBQyxLQUFLO0dBQ2I7RUFFRCxBQUFBLFFBQVEsQ0FBQTtJQUNOLFVBQVUsRUFBQyxFQUFFO0lBQ2IsTUFBTSxFQUFDLEtBQUs7SUFDWixLQUFLLEVBQUMsS0FBSztJQUNYLGFBQWEsRUFBQyxHQUFHO0dBQ2xCO0VBRUQsQUFBQSxjQUFjLENBQUE7SUFDZCxnQkFBZ0IsRUFBQyxLQUFLO0lBQ3RCLE9BQU8sRUFBQyxHQUFHO0lBQ1gsYUFBYSxFQUFDLEVBQUU7SUFDaEIsVUFBVSxFQUFDLEdBQUc7R0FDWDtFQUVILEFBQUEsYUFBYSxDQUFBO0lBQ2IsZ0JBQWdCLEVBQUMsS0FBSztJQUN0QixPQUFPLEVBQUMsR0FBRztJQUNYLFVBQVUsRUFBQyxHQUFHO0lBQ2QsT0FBTyxFQUFDLElBQUk7SUFDWixhQUFhLEVBQUMsR0FBRztJQUNqQixhQUFhLEVBQUMsSUFBSTtJQUNsQixLQUFLLEVBQUMsR0FBRztHQUlSO0VBWEQsQUFRQSxhQVJhLEFBUWIsTUFBTyxDQUFBO0lBQ0wsVUFBVSxFQUFFLHlCQUF5QjtHQUNwQztFQUdILEFBQUEsY0FBYyxDQUFBO0lBQ2QsS0FBSyxFQUFDLElBQUk7SUFDVixNQUFNLEVBQUMsSUFBSTtJQUNYLE9BQU8sRUFBQyxJQUFJO0lBQ1osTUFBTSxFQUFDLElBQUk7R0FDVjs7O0FBSUgsZ0JBQWdCO0FBL0VkLE1BQU0sQ0FBQyxNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7RUFpRm5DLEFBQUEsSUFBSSxDQUFBO0lBQ0YsT0FBTyxFQUFDLENBQUM7R0FDVjtFQUVELEFBQUEsUUFBUSxDQUFBO0lBQ04sV0FBVyxFQUFDLEdBQUc7R0FDaEI7OztBQUlILHlCQUF5QjtBQTNGdkIsTUFBTSxDQUFDLE1BQU0sTUFBTSxTQUFTLEVBQUUsS0FBSztFQTZGakMsQUFBQSxPQUFPLENBQUE7SUFDTCxVQUFVLEVBQUMsTUFBTTtJQUNqQixhQUFhLEVBQUMsR0FBRztHQUNsQjtFQUNELEFBQUEsYUFBYSxDQUFBO0lBRVgsWUFBWSxFQUFDLElBQUk7SUFDakIsV0FBVyxFQUFDLElBQUk7R0FDakI7RUFFRCxBQUFBLGlCQUFpQixDQUFDO0lBQ2QsUUFBUSxFQUFFLFFBQVE7SUFDbEIsR0FBRyxFQUFFLElBQUk7R0FDWjtFQUVELEFBQUEsUUFBUSxDQUFBO0lBQ1IsV0FBVyxFQUFFLEdBQUc7SUFDaEIsTUFBTSxFQUFDLEtBQUs7SUFDWixLQUFLLEVBQUMsS0FBSztJQUNYLGFBQWEsRUFBQyxHQUFHO0dBQ2xCOzs7QUFJSCxXQUFXO0FBckhULE1BQU0sQ0FBQyxNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7RUF1SG5DLEFBQUEsUUFBUSxDQUFBO0lBQ04sV0FBVyxFQUFDLEdBQUc7SUFDZixVQUFVLEVBQUMsR0FBRztHQUNmO0VBQ0QsQUFBQSxjQUFjLENBQUE7SUFDWixXQUFXLEVBQUMsR0FBRztHQUNoQjs7O0FBR0gsZUFBZTtBQWhJYixNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxNQUFNO0VBa0lwQyxBQUFBLFFBQVEsQ0FBQTtJQUNOLFdBQVcsRUFBQyxHQUFHO0lBQ2YsVUFBVSxFQUFDLEdBQUc7R0FDZjs7O0FBR0gsQUFBQSxhQUFhLENBQUE7RUFDWCxZQUFZLEVBQUMsSUFBSTtDQUNsQjs7QUFFRCxBQUFBLEVBQUUsQ0FBQTtFQUNBLFdBQVcsRUFBRSxxQkFBcUI7RUFDbEMsU0FBUyxFQUFFLEdBQUc7Q0FDZjs7QUEvSUMsTUFBTSxDQUFDLE1BQU0sTUFBTSxTQUFTLEVBQUUsS0FBSztFQWtKckMsQUFBQSxRQUFRLENBQUE7SUF6SUosZUFBZSxFQUFDLFNBQVM7SUFDekIsVUFBVSxFQUFDLEtBQUs7SUFDaEIsU0FBUyxFQUFDLEtBQUs7SUFDZixnQkFBZ0IsRUFBRSxnSEFBUztJQUMzQixTQUFTLEVBQUMsSUFBSTtJQUNkLHVCQUF1QixFQUFFLEtBQUs7SUFDOUIsb0JBQW9CLEVBQUUsS0FBSztJQUMzQixrQkFBa0IsRUFBRSxLQUFLO0lBQ3pCLGVBQWUsRUFBQyxLQUFLO0lBQ3JCLGlCQUFpQixFQUFFLFNBQVM7SUFDNUIsdUNBQXVDO0lBQ3ZDLHFCQUFxQixFQUFFLEtBQUs7SUFDNUIsY0FBYyxFQUFDLEdBQUc7SUFDbEIsV0FBVyxFQUFDLEVBQUU7SUFDZCwwQkFBMEI7R0FzSTdCOzs7QUFYRCxBQUVJLFFBRkksQ0FFSixZQUFZLENBQUE7RUFDWixnQkFBZ0IsRUFBQyxLQUFLO0VBQ3RCLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLEtBQUssRUFBQyxLQUFLO0VBQ1gsT0FBTyxFQUFDLEdBQUc7RUFDWCxNQUFNLEVBQUUsaUJBQWlCO0VBQUUseUJBQXlCO0NBQ3JEOztBQTFKRCxNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxLQUFLO0VBa0pyQyxBQUFBLFFBQVEsQ0FBQTtJQVNhLE1BQU0sRUFBQyxLQUFLO0dBRWhDOzs7QUFHRCxpQkFBaUI7QUFoS2YsTUFBTSxDQUFDLE1BQU0sTUFBTSxTQUFTLEVBQUUsS0FBSztFQWlLckMsQUFBQSxRQUFRLENBQUE7SUF4SkosZUFBZSxFQUFDLFNBQVM7SUFDekIsVUFBVSxFQUFDLEtBQUs7SUFDaEIsU0FBUyxFQUFDLEtBQUs7SUFDZixnQkFBZ0IsRUFBRSxzSUFBUztJQUMzQixTQUFTLEVBQUMsSUFBSTtJQUNkLHVCQUF1QixFQUFFLEtBQUs7SUFDOUIsb0JBQW9CLEVBQUUsS0FBSztJQUMzQixrQkFBa0IsRUFBRSxLQUFLO0lBQ3pCLGVBQWUsRUFBQyxLQUFLO0lBQ3JCLGlCQUFpQixFQUFFLFNBQVM7SUFDNUIsdUNBQXVDO0lBQ3ZDLHFCQUFxQixFQUFFLEtBQUs7SUFDNUIsY0FBYyxFQUFDLEdBQUc7SUFDbEIsV0FBVyxFQUFDLEVBQUU7SUFDZCwwQkFBMEI7R0E0STdCOzs7QUFFRCxxQkFBcUI7QUFDckIsQUFBQSxVQUFVLENBQUE7RUFFUixNQUFNLEVBQUMsSUFBSTtDQUNaOztBQXpLQyxNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxLQUFLO0VBc0tyQyxBQUFBLFVBQVUsQ0FBQTtJQTdKTixlQUFlLEVBQUMsU0FBUztJQUN6QixVQUFVLEVBQUMsS0FBSztJQUNoQixTQUFTLEVBQUMsS0FBSztJQUNmLGdCQUFnQixFQUFFLHlIQUFTO0lBQzNCLFNBQVMsRUFBQyxJQUFJO0lBQ2QsdUJBQXVCLEVBQUUsS0FBSztJQUM5QixvQkFBb0IsRUFBRSxLQUFLO0lBQzNCLGtCQUFrQixFQUFFLEtBQUs7SUFDekIsZUFBZSxFQUFDLEtBQUs7SUFDckIsaUJBQWlCLEVBQUUsU0FBUztJQUM1Qix1Q0FBdUM7SUFDdkMscUJBQXFCLEVBQUUsS0FBSztJQUM1QixjQUFjLEVBQUMsR0FBRztJQUNsQixXQUFXLEVBQUMsRUFBRTtJQUNkLDBCQUEwQjtHQWtKN0I7OztBQUVELG1CQUFtQjtBQTNLakIsTUFBTSxDQUFDLE1BQU0sTUFBTSxTQUFTLEVBQUUsS0FBSztFQTRLckMsQUFBQSxTQUFTLENBQUE7SUFuS0wsZUFBZSxFQUFDLFNBQVM7SUFDekIsVUFBVSxFQUFDLEtBQUs7SUFDaEIsU0FBUyxFQUFDLEtBQUs7SUFDZixnQkFBZ0IsRUFBRSx1SUFBUztJQUMzQixTQUFTLEVBQUMsSUFBSTtJQUNkLHVCQUF1QixFQUFFLEtBQUs7SUFDOUIsb0JBQW9CLEVBQUUsS0FBSztJQUMzQixrQkFBa0IsRUFBRSxLQUFLO0lBQ3pCLGVBQWUsRUFBQyxLQUFLO0lBQ3JCLGlCQUFpQixFQUFFLFNBQVM7SUFDNUIsdUNBQXVDO0lBQ3ZDLHFCQUFxQixFQUFFLEtBQUs7SUFDNUIsY0FBYyxFQUFDLEdBQUc7SUFDbEIsV0FBVyxFQUFDLEVBQUU7SUFDZCwwQkFBMEI7R0F3SjdCOzs7QUFFRCxBQUFBLFNBQVMsQ0FBQTtFQUNQLEtBQUssRUFBQyxLQUFLO0NBQ1o7O0FBRUQsK0JBQStCO0FBQy9CLEFBQUEsYUFBYSxDQUFBO0VBQ1gsS0FBSyxFQUFDLE9BQWM7Q0FDckI7O0FBRUQsQUFBQSxXQUFXLENBQUE7RUFDVCxLQUFLLEVBQUMsT0FBZTtDQUN0Qjs7QUFFRCxBQUFBLGFBQWEsQ0FBQTtFQUNYLEtBQUssRUFBQyxPQUFPO0NBQ2Q7O0FBSUQsYUFBYTtBQUNiLEFBQUEsS0FBSyxBQUFBLE1BQU0sQ0FBQztFQUNWLFNBQVMsRUFBRSxVQUFVO0NBQ3RCOztBQUdELEFBQUEsYUFBYSxDQUFDO0VBQ1osUUFBUSxFQUFFLFFBQVE7RUFDbEIsR0FBRyxFQUFFLENBQUM7RUFBRyxLQUFLLEVBQUUsQ0FBQztFQUFHLE1BQU0sRUFBRSxDQUFDO0VBQUcsSUFBSSxFQUFFLENBQUM7RUFDdkMsVUFBVSxFQUFFLGtCQUFlO0VBQzNCLEtBQUssRUFBRSxJQUFJO0VBQ1gsUUFBUSxFQUFFLE1BQU07RUFDaEIsS0FBSyxFQUFDLElBQUk7RUFDVixVQUFVLEVBQUUsU0FBUztDQUN0Qjs7QUFFRCxBQUFBLGFBQWEsQUFBQSxPQUFPLENBQUM7RUFDbkIsR0FBRyxFQUFFLElBQUk7Q0FDVjs7QUFFRCxpQkFBaUI7QUFDakIsQUFBWSxLQUFQLEFBQUEsTUFBTSxDQUFDLGFBQWEsQUFBQSxPQUFPLENBQUM7RUFDL0IsR0FBRyxFQUFFLENBQUM7Q0FDUDs7QUFFRCxBQUFBLGlCQUFpQixDQUNqQjtFQUNFLFFBQVEsRUFBRSxLQUFLO0NBRWhCOztBQUVELEFBQUEsYUFBYSxDQUFBO0VBQ1gsR0FBRyxFQUFDLEdBQUc7RUFDUCxTQUFTLEVBQUMsZ0JBQWdCO0VBQzFCLFFBQVEsRUFBQyxRQUFRO0NBQ2xCIn0= */
