/*Device Breakpoints*/
/*Media Query mixin*/
/*Page Background mixin*/
/*Retina display*/
@media screen and (min-width: 320px) {
  body {
    padding-top: 50px;
    background-color: white;
    font-family: 'Helvetica', sans-serif;
    color: white; }
  #image-cropper {
    width: 260px;
    height: 260px; }
  #imageMe {
    margin-top: 8%;
    height: 260px;
    width: 266px;
    border-radius: 50%; }
  .about-me-text {
    background-color: black;
    opacity: 0.7;
    padding-right: 2%;
    margin-top: 10%; }
  .center-block {
    background-color: black;
    opacity: 0.7;
    margin-top: 12%;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%; }
    .center-block:hover {
      box-shadow: 1px 1px 45px 10px #b3ddbc; }
  .portfolio-img {
    width: 100%;
    margin: auto;
    padding: 10px;
    height: auto; } }

/*Smartphones */
@media screen and (min-width: 480px) {
  body {
    padding: 0; } }

/*Small - Tablets 768px*/
@media screen and (min-width: 768px) {
  .navbar {
    text-align: center;
    margin-bottom: -5%; }
  .navbar-brand {
    margin-right: 20px;
    padding-top: 10px; }
  .navbar-fixed-top {
    position: relative;
    top: auto; }
  #imageMe {
    margin-left: 90%;
    height: 300px;
    width: 300px;
    border-radius: 50%; } }

.navbar-right {
  margin-right: 10px; }

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 4em; }

@media screen and (min-width: 320px) {
  #pageOne {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://res.cloudinary.com/dh9jhi3qp/image/upload/v1498588595/photo-1491484815100-6f2890d04007_isb64m.png");
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/ } }

#pageOne .btn-default {
  background-color: black;
  font-size: 1.5em;
  color: white;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */ }

@media screen and (min-width: 768px) {
  #pageOne {
    height: 100vh; } }

/*About section*/
@media screen and (min-width: 320px) {
  #pageTwo {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://images.unsplash.com/photo-1485609315582-cfffa02888e8?dpr=1&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=&bg=");
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/ } }

/*Portfolio section*/
#pageThree {
  height: auto; }
  @media screen and (min-width: 320px) {
    #pageThree {
      background-size: 100% 100%;
      min-height: 600px;
      min-width: 320px;
      background-image: url("https://res.cloudinary.com/dh9jhi3qp/image/upload/c_scale,h_2376,w_4225/v1500612757/pexels-photo-492248_nrz8ed.jpg");
      max-width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      /*background-position: center center;*/
      background-attachment: fixed;
      padding-bottom: 10%;
      padding-top: 5%;
      /*vertical-align:middle;*/ } }

/*Contact Section*/
@media screen and (min-width: 320px) {
  #pageFour {
    background-size: 100% 100%;
    min-height: 600px;
    min-width: 320px;
    background-image: url("https://images.unsplash.com/photo-1495141929506-f34c93658f5d?dpr=1&auto=format&fit=crop&w=1080&h=1620&q=80&cs=tinysrgb&crop=&bg=");
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-attachment: fixed;
    padding-bottom: 10%;
    padding-top: 5%;
    /*vertical-align:middle;*/ } }

#skillset {
  color: black; }

/* Social Media Icon Styling */
#facebookIcon {
  color: #3b59a3; }

#githubIcon {
  color: #4078c0; }

#linkedinIcon {
  color: #0077b5; }

/*transform TESTING PHASE*/
.grow:hover {
  transform: scale(1.1); }

.navbar-fixed-top {
  position: fixed; }
