@font-face {
  font-family: 'JaapokkiSubtract';
  src: url('../css/fonts/jaapokkisubtract-regular.eot'); /* IE9 Compat Modes */
  src: url('../css/fonts/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/fonts/jaapokkisubtract-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../css/fonts/jaapokkisubtract-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/jaapokkisubtract-regular.svg#JaapokkiSubtract') format('svg'); /* Legacy iOS */
}

/*Device Breakpoints*/
$breakpoints: (
  retina        : 320px, /*custom iphone retina */
  extra-small   : 480px, /*phones*/
  small         : 768px, /*tablets*/
  medium        : 992px, /*desktop*/
  large         : 1200px, /*wide-screen*/
  extra-large   : 1440px /*ultra wide screen*/
);

/*Media Query mixin*/
@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {

  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}


/*Page Background mixin*/
@mixin page-background($url){
  @include mq(retina){
    background-image: url($url);
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom:10%;
    padding-top:5%;
    width:100%;
    min-height:267px;
  }

  @include mq(small){
    background-size:cover;
  }

  
}

html {
  height:100%;
  overflow:auto
}

.affix {
      top: 0 !important;
      width: 100%;
      z-index: 1000 !important;
      margin-left:5% !important;
  }



/*Retina display*/
@include mq(retina){
  .nav-section{
    width:90%;
    margin:0 auto;
    padding:0;

   }

  .nav-justified > li {
    display: table-cell; 
    width: 33.33%;
    margin:0 auto;

   }

  .navbar-collapse.collapse {
  display: block!important; 
  }

  .navbar-nav>li, .navbar-nav {
  float: left !important;
  border-bottom:7px solid rgb(127,145,130);
  margin-top:7px;
  }

  .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
  }

  .navbar-right {
  float: right!important;
  }


  .navbar-nav {
      > li > a{
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;  
        padding:0;
        padding-top:5px;
        min-height: 30px;
        margin:0;
        vertical-align: center;

      }
      /*About tab*/
      > li:nth-child(1) {

        > a {
          color: white;
          background-color: rgb(127,145,130);
          text-shadow:1px 1px green;
          &:hover{
            background-color: rgb(127,145,130);
            color: white;
          }
          &:focus{
            background-color: rgb(127,145,130); 
            color: white;
          }
        }

        &.active {
          > a {
                color: white;
                background-color: rgb(127,145,130);
             &:hover {
                color: white;
                background-color: rgb(127,145,130);
             }
             &:focus{
                color: white;
                background-color: rgb(127,145,130);
             }
          }

        }



      }
      /*Portfolio tab*/
      > li:nth-child(2) {

        > a {
          color: white;
          text-shadow:1px 1px purple;
          background-color: rgb(139,111,134);
          &:hover{
            background-color: rgb(139,111,134);
            color: white;
          }
          &:focus{
            background-color: rgb(139,111,134); 
            color: white;
          }
        }

        &.active {
          > a   {
                color: white;
                background-color: rgb(139,111,134);
             &:hover {
                color: white;
                background-color: rgb(139,111,134);
             }
             &:focus{
                color: white;
                background-color: rgb(139,111,134);
             }
          }

        }



      }

      /*Contact tab*/
      > li:nth-child(3) {
        > a {
          color: white;
          text-shadow:1px 1px black;
          background-color: rgb(101,105,116);
          &:hover{
            background-color: rgb(101,105,116);
            color: white;
          }
          &:focus{
            background-color: rgb(101,105,116); 
            color: white;
          }
        }

        &.active {
          > a {
                color: white;
                background-color: rgb(101,105,116);
             &:hover {
                color: white;
                background-color: rgb(101,105,116);
             }
             &:focus{
                color: white;
                background-color: rgb(101,105,116);
             }
          }

        }



      }


  }

  body{
    background-color:white;
    font-family: 'Arial', sans-serif;
    color:white;
  }

  #home{
    @include page-background("../images/heroimage-min.png");
     .btn-default{   
      background-color:black;
      border-radius: 25px;
      font-size: 1.5em;
      color:white;
      opacity:0.6;
      font-family:Arial;
      min-width: 70px;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    margin-bottom:-37px;
    position: relative;
    min-height: 300px;
  
  }

  
  #image-cropper{
    
    height:260px;
    padding:0;
    margin-left:07px;
  }

  #imageMe{   
    height:auto;
    padding-right:0px;
    margin-left:7px; 
  }
   
  .about-me-text{
  opacity:0.7;
  padding-right:8%;
  padding-left:7px;
  font-size:09px;
  border-left:1px solid white;
  }

  .hero-block{
  opacity:0.7;
  margin-top:45%;
  padding:0px;
  border-radius:5px;
  margin-bottom:10px;
  width:100%;
  letter-spacing: 2px;


    h1{
      font-size:20px;
      margin-bottom:-5px;
    }

    #typed{
    font-size:12px;
    }

  }

  .button-list{
    margin-top:5px;
    font-size:5px;
  }
  
  .tab-section{
  width:90%;
  margin: 0 auto; 
  display:block;
  position:relative;
    h2{
      margin-top:0;
    }
  }

  .navbar-nav{
    margin: 0 0;
  }

  .navbar-default{
    padding:0;
    background-color: transparent;
    border:none;
    margin-top:-8px;
    margin-bottom:0;
    padding-top:0;
    height: 45px;
    
    bottom:0;
  }

    .spacer-on{
    min-height: 65px;
  }

  .padding-scroll-m {
    padding-top:45px !important;
    
  }

 .portfolio-img{
  width:100%;
  margin:auto;
  padding:10px;
  height:auto;
  min-height:250px;
  }


.item{
  margin:4px;
  padding:1.1em;
  border-radius: 50%;
  background-color: white;
}

 .skills-group{
  margin-left:5px;
  padding-right:0;
  margin-bottom:20px;
 }



 /*Contact Section*/
 #contact {
  margin:0 auto;

 }

 /*form {
  width:80%;
  margin:0 auto;

 }*/
 .label{
  display: block;
  margin-bottom: 0.5em;
  line-height: 1.5;
 }

 input, textarea{
  display: block;
  margin:0 auto;
  width: 80%;
 }

 fieldset {
  width: 100%;
 }
 .half-width{
  padding:0;
 }
 .field {
  margin-bottom:1em;
 }
  #send {
    margin-left:0.4em;
    width:95%;
  }


}

/*Smartphones */
@include mq(extra-small){
  body{
    padding:0;
  }

.about-me-text{
  font-size:12px;
  padding-right: 15px;
 }

  #imageMe{
   
  }

 .item{
  margin:4px;
  padding:1em;
  
 }
 .skills-group{
  margin-left:20px;
  padding-right:0;
  margin-bottom:20px;
 }
}


/*Small - Tablets 768px*/
@include mq(small){
    .navbar{
      z-index:1000;
    }

    .about-me-text{
      font-size:14px;
    }

  #home {
    min-height:600px !important;
  }
  .hero-block{
  margin-top:40%;
  border-radius:5px;
  width:100%;
  letter-spacing: 2px;
    h1{
      font-size:36px;
      margin-bottom:-5px;
    }

    #typed{
    font-size:21px;
    }

  }

   .button-list{
    font-size:12px;
   }

   .item{
    padding:1.4em;
    margin:5px;
   }

   form {
    font-size: 1.4em;
   }

  #send {
      margin-left:1em;
      width:95%;
  }
}

/*Desktop*/
@include mq(medium){
  #imageMe{
    margin-left:15%;  
    margin-top:15%;
  }
  .about-me-text{
    margin-left:45px;
    padding-left: 25px;
    padding-right: 10px;
    font-size:16px;
  }
  .hero-block{
    margin-top:34%;
    h1{
      font-size:62px;
    }
  }

   .button-list{
    font-size:12.5px;
   }

   #home {
    .btn-default {
      min-width:144px;
    }
   }

   .tab-section{
  width:90%;
  margin: auto; 
  display:block;
  position:relative;
  }

  .navbar-nav>li, .navbar-nav {
    border-bottom:13px solid rgb(127,145,130);
  }

  .navbar-nav > li > a {
    font-size: 22px;
  }

  #send {
    margin-left:5em;
    width:20%;
  }


}

/*Wide Screen*/
@include mq(large){

  #imageMe{
    margin-left:20%;  
    margin-top:0%;
  }

 .hero-block{
    margin-top:34%;
    margin-left:1%;
    h1{
      font-size:62px;
    }
  }
}

@include mq(extra-large){
  #home{
    .container{
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

h1{
  font-family: 'JaapokkiSubtract', sans-serif;
  font-size: 4em;
  margin:0;
  padding:0;
}

/*About section*/
#about{
  background-color: rgb(127,145,130); 
  padding-top: 25px;
  margin-top: 0;
  min-height: 500px;
}

/*Portfolio section*/
#portfolio{
 background-color: rgb(139,111,134); 
}

/*Contact Section*/
#contact{  
background-color: rgb(101,105,116);
min-height: 800px;
}

#skillset{
  color:black;
}

/* Social Media Icon Styling */
#facebookIcon{
  color:rgb(59,89,163);
}

#githubIcon{
  color:rgb(64,120,192);
}

#linkedinIcon{
  color:#0077b5;
}



/*  ANIMATIONS  */
.grow:hover {
  transform: scale(1.05);
}


.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  width:100%;
  transition: 0.5s ease;
  border-radius: 50%;

}

.item-overlay.bottom {
  top: 100%;
} 

/*bottom to top*/
.item:hover .item-overlay.bottom {
  top: 0;
}

.text-overlay{
  top:50%;
  transform:translateY(-50%);
  position:relative;
}

